@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-color: #2f2f2f;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}
